x-shared: &shared
  tty: true
  stdin_open: true
  volumes:
    - .:/src
  working_dir: /src
  shm_size: '4gb'
  deploy:
    resources:
      limits:
        memory: 16G
  cap_add:
    - SYS_NICE
    - SYS_ADMIN

services:
  base:
    <<: *shared
    image: benchmarks:base
    build:
      dockerfile: docker/base

  crystal:
    <<: *shared
    image: benchmarks:crystal
    working_dir: /src/crystal
    build:
      dockerfile: docker/crystal
      args:
        # https://github.com/crystal-lang/crystal/releases
        version: 1.19.1
    volumes:
      - .:/src

      - ./cache/deps/crystal/lib:/usr/local/crystal/lib
      - ./cache/deps/crystal/shards:/root/.cache/shards

      - ./cache/build/crystal/target:/src/crystal/target
      - ./cache/build/crystal/cache:/root/.cache/crystal
    depends_on:
      - base

  rust:
    <<: *shared
    image: benchmarks:rust
    working_dir: /src/rust
    build:
      dockerfile: docker/rust
      args:
        # https://github.com/rust-lang/rust/releases/
        version: 1.93.1
    volumes:
      - .:/src

      - ./cache/deps/rust/registry:/root/.cargo/registry
      - ./cache/deps/rust/git:/root/.cargo/git

      - ./cache/build/rust/target:/src/rust/target
    depends_on:
      - base

  zig:
    <<: *shared
    image: benchmarks:zig
    working_dir: /src/zig
    build:
      dockerfile: docker/zig
      args:
        # https://ziglang.org/download/
        version: 0.15.2
    volumes:
      - .:/src

      - ./cache/deps/zig/global:/root/.cache/zig

      - ./cache/build/zig/build-cache:/src/zig/.zig-cache
      - ./cache/build/zig/out:/src/zig/zig-out
      - ./cache/build/zig/build:/src/zig/zig-build
      - ./cache/build/zig/local:/root/.local/share/zig
      - ./cache/build/zig/tmp:/tmp/zig-cache
    environment:
      - ZIG_GLOBAL_CACHE_DIR=/root/.cache/zig
      - ZIG_LOCAL_CACHE_DIR=/root/.local/share/zig
      - ZIG_BUILD_CACHE_DIR=/src/zig/.zig-cache

    depends_on:
      - base

  base_clang:
    <<: *shared
    image: benchmarks:base_clang
    working_dir: /src
    build:
      dockerfile: docker/base_clang
      args:
        # https://github.com/llvm/llvm-project/releases
        version: 21
    depends_on:
      - base

  clang_c:
    <<: *shared
    image: benchmarks:clang_c
    working_dir: /src/c
    build:
      dockerfile: docker/clang_c
    volumes:
      - .:/src

      - ./cache/deps/clang_c/deps:/src/c/deps

      - ./cache/build/clang_c/target:/src/c/target
    depends_on:
      - base_clang

  clang_cpp:
    <<: *shared
    image: benchmarks:clang_cpp
    working_dir: /src/cpp
    build:
      dockerfile: docker/clang_cpp
    volumes:
      - .:/src

      - ./cache/deps/clang_cpp/deps:/src/cpp/deps

      - ./cache/build/clang_cpp/target:/src/cpp/target
    depends_on:
      - base_clang

  dotnet:
    <<: *shared
    image: benchmarks:dotnet
    working_dir: /src/csharp
    build:
      dockerfile: docker/dotnet
      args:
        # https://dotnet.microsoft.com/en-us/download/dotnet
        version: "10.0"
    volumes:
      - .:/src

      - ./cache/deps/dotnet/nuget:/root/.nuget/packages
      - ./cache/deps/dotnet/sdk:/root/.dotnet/sdk
      - ./cache/deps/dotnet/tools:/root/.dotnet/tools

      - ./cache/build/dotnet/obj:/src/csharp/obj
      - ./cache/build/dotnet/bin:/src/csharp/bin
      - ./cache/build/dotnet/packages:/src/csharp/packages
    environment:
      - DOTNET_CLI_TELEMETRY_OPTOUT=1
      - DOTNET_NOLOGO=1
    depends_on:
      - base

  fsharp:
    <<: *shared
    image: benchmarks:fsharp
    working_dir: /src/fsharp
    build:
      dockerfile: docker/fsharp
    volumes:
      - .:/src

      - ./cache/deps/fsharp/nuget:/root/.nuget/packages
      - ./cache/deps/fsharp/sdk:/root/.dotnet/sdk
      - ./cache/deps/fsharp/tools:/root/.dotnet/tools

      - ./cache/build/fsharp/obj:/src/fsharp/obj
      - ./cache/build/fsharp/bin:/src/fsharp/bin
      - ./cache/build/fsharp/packages:/src/fsharp/packages
    environment:
      - DOTNET_CLI_TELEMETRY_OPTOUT=1
      - DOTNET_NOLOGO=1
    depends_on:
      - dotnet

  base_gcc:
    <<: *shared
    image: benchmarks:base_gcc
    working_dir: /src
    build:
      dockerfile: docker/base_gcc
      # args:
      #   # https://gcc.gnu.org/releases.html
      #   version: "14"
    depends_on:
      - base

  gcc_c:
    <<: *shared
    image: benchmarks:gcc_c
    working_dir: /src/c
    build:
      dockerfile: docker/gcc_c
    volumes:
      - .:/src

      - ./cache/deps/gcc_c/deps:/src/c/deps

      - ./cache/build/gcc_c/target:/src/c/target
    depends_on:
      - base_gcc

  gcc_cpp:
    <<: *shared
    image: benchmarks:gcc_cpp
    working_dir: /src/cpp
    build:
      dockerfile: docker/gcc_cpp
    volumes:
      - .:/src

      - ./cache/deps/gcc_cpp/deps:/src/cpp/deps

      - ./cache/build/gcc_cpp/target:/src/cpp/target
    depends_on:
      - base_gcc

  gccgo:
    <<: *shared
    image: benchmarks:gccgo
    working_dir: /src/golang
    build:
      dockerfile: docker/gccgo
      args:
        version: "15"
    volumes:
      - .:/src

      - ./cache/build/gccgo/build:/tmp/go-build

      - ./cache/build/gccgo/target:/src/golang/target
    depends_on:
      - base_gcc

  golang:
    <<: *shared
    image: benchmarks:golang
    working_dir: /src/golang
    build:
      dockerfile: docker/golang
      args:
        # https://go.dev/dl/
        version: "1.26.0"
    volumes:
      - .:/src

      - ./cache/deps/go/mod-cache:/go/pkg/mod
      - ./cache/deps/go/sumdb:/go/pkg/sumdb

      - ./cache/build/go/build-cache:/root/.cache/go-build
      - ./cache/build/go/bin-cache:/go/bin
      - ./cache/build/go/target:/src/golang/target
    environment:
      - GOCACHE=/root/.cache/go-build
      - GOMODCACHE=/go/pkg/mod
    depends_on:
      - base

  swift:
    <<: *shared
    image: benchmarks:swift
    working_dir: /src/swift
    build:
      dockerfile: docker/swift
      args:
        # https://github.com/swiftlang/swift/releases
        version: "6.2.3"
    volumes:
      - .:/src

      - ./cache/deps/swift/package-cache:/root/.swiftpm/package-cache
      - ./cache/deps/swift/checkouts:/src/swift/.build/checkouts
      - ./cache/deps/swift/repositories:/src/swift/.build/repositories

      - ./cache/build/swift/artifacts:/src/swift/.build/artifacts
      - ./cache/build/swift/cache:/root/.cache/swift
    environment:
      - SWIFT_PACKAGE_CACHE_DIR=/root/.swiftpm/package-cache
    depends_on:
      - base

  nodejs:
    <<: *shared
    image: benchmarks:nodejs
    build:
      dockerfile: docker/nodejs
      args:
        # https://nodejs.org/en/about/previous-releases
        version: "25.x"
    depends_on:
      - base

  java:
    <<: *shared
    image: benchmarks:java
    working_dir: /src/java
    build:
      dockerfile: docker/java
      args:
        # https://www.java.com/releases/
        version: "25"
        mavenversion: 3.9.12
    volumes:
      - .:/src

      - ./cache/deps/java/maven:/root/.m2/repository
      - ./cache/deps/java/maven-wrapper:/root/.m2/wrapper

      - ./cache/build/java/target:/src/java/target
      - ./cache/build/java/maven-build:/root/.m2/build-cache
    depends_on:
      - base

  kotlin:
    <<: *shared
    image: benchmarks:kotlin
    working_dir: /src/kotlin
    build:
      dockerfile: docker/kotlin
      args:
        # https://kotlinlang.org/docs/releases.html        
        version: "2.3.0"
        # https://gradle.org/releases/
        gradleversion: 9.2.1
    volumes:
      - .:/src

      - ./cache/deps/kotlin/gradle-modules:/root/.gradle/caches/modules-2
      - ./cache/deps/kotlin/gradle-wrapper:/root/.gradle/wrapper/dists
      - ./cache/deps/kotlin/maven:/root/.m2/repository
      - ./cache/deps/kotlin/gradle-build:/root/.gradle/caches/build-cache-1
      - ./cache/deps/kotlin/gradle-transforms:/root/.gradle/caches/transforms-3
      - ./cache/deps/kotlin/daemon:/root/.gradle/daemon

      - ./cache/build/kotlin/build:/src/kotlin/build
      - ./cache/build/kotlin/kotlin-cache:/root/.kotlin
    depends_on:
      - java

  graalvm:
    <<: *shared
    image: benchmarks:graalvm
    working_dir: /src/java
    build:
      dockerfile: docker/graalvm
      args:
        # https://www.graalvm.org/release-notes/
        version: "25.0.1"
        mavenversion: 3.9.12
    volumes:
      - .:/src

      - ./cache/deps/graalvm/maven-graalvm:/root/.m2/repository

      - ./cache/build/graalvm/target:/src/java/target
      - ./cache/build/graalvm/native:/root/.cache/graalvm
      - ./cache/build/graalvm/jvmci:/root/.cache/jvmci
    depends_on:
      - base

  kotlin-graalvm:
    <<: *shared
    image: benchmarks:kotlin-graalvm
    working_dir: /src/kotlin
    build:
      dockerfile: docker/kotlin-graalvm
      args:
        # https://kotlinlang.org/docs/releases.html
        version: "2.3.0"
        # https://gradle.org/releases/
        gradleversion: 9.2.1
    volumes:
      - .:/src

      - ./cache/deps/kotlin/gradle-modules:/root/.gradle/caches/modules-2
      - ./cache/deps/kotlin/gradle-wrapper:/root/.gradle/wrapper/dists
      - ./cache/deps/kotlin/maven:/root/.m2/repository
      - ./cache/deps/kotlin/gradle-build:/root/.gradle/caches/build-cache-1
      - ./cache/deps/kotlin/gradle-transforms:/root/.gradle/caches/transforms-3
      - ./cache/deps/kotlin/daemon:/root/.gradle/daemon

      - ./cache/build/kotlin/build:/src/kotlin/build
      - ./cache/build/kotlin/kotlin-cache:/root/.kotlin
    depends_on:
      - graalvm

  typescript:
    <<: *shared
    image: benchmarks:typescript
    working_dir: /src/typescript
    build:
      dockerfile: docker/typescript
      args:
        # https://www.npmjs.com/package/typescript
        version: "5.9.3"
    volumes:
      - .:/src

      - ./cache/deps/typescript/npm-cache:/root/.npm
      - ./cache/deps/typescript/npm-packages-global:/usr/local/lib/node_modules
      - ./cache/deps/typescript/node-modules:/src/typescript/node_modules

      - ./cache/build/typescript/target:/src/typescript/target
      - ./cache/build/typescript/cache:/root/.cache/typescript
    environment:
      - npm_config_cache=/root/.npm
    depends_on:
      - nodejs

  typescript-deno:
    <<: *shared
    image: benchmarks:typescript-deno
    working_dir: /src/typescript
    build:
      dockerfile: docker/typescript-deno
    volumes:
      - .:/src

      - ./cache/deps/deno/cache:/root/.cache/deno

      - ./cache/build/deno/target:/src/typescript/target
      - ./cache/build/deno/gen:/src/typescript/.deno
    environment:
      - DENO_DIR=/root/.cache/deno
      - DENO_NO_UPDATE_CHECK=1
    depends_on:
      - base

  typescript-bun:
    <<: *shared
    image: benchmarks:typescript-bun
    working_dir: /src/typescript
    build:
      dockerfile: docker/typescript-bun
      args:
        # https://bun.com/
        version: "1.3.8"
    volumes:
      - .:/src

      - ./cache/deps/bun/cache:/root/.bun/install/cache
      - ./cache/deps/bun/node-modules:/src/typescript/node_modules

      - ./cache/build/bun/target:/src/typescript/target
      - ./cache/build/bun/build-cache:/root/.bun/build-cache
    environment:
      - BUN_INSTALL_CACHE_DIR=/root/.bun/install/cache
    depends_on:
      - base

  dmd:
    <<: *shared
    image: benchmarks:dmd
    working_dir: /src/d
    build:
      dockerfile: docker/dmd
      args:
        # https://github.com/dlang/dmd/releases
        version: "2.112.1"
    volumes:
      - .:/src

      - ./cache/deps/d/dub-packages:/root/.dub/packages

      - ./cache/build/dmd/target:/src/d/target
      - ./cache/build/dmd/.dub:/src/d/.dub
      - ./cache/build/dmd/dub-cache:/root/.dub/cache
    environment:
      - DUB_HOME=/root/.dub
    depends_on:
      - ldc

  ldc:
    <<: *shared
    image: benchmarks:ldc
    working_dir: /src/d
    build:
      dockerfile: docker/ldc
      args:
        # https://github.com/ldc-developers/ldc/releases
        version: "1.41.0"
    volumes:
      - .:/src

      - ./cache/deps/d/dub-packages:/root/.dub/packages

      - ./cache/build/ldc/target:/src/d/target
      - ./cache/build/ldc/.dub:/src/d/.dub
      - ./cache/build/ldc/dub-cache:/root/.dub/cache
      - ./cache/build/ldc/ldc-cache:/root/.cache/ldc
    environment:
      - DUB_HOME=/root/.dub
    depends_on:
      - base

  gdc:
    <<: *shared
    image: benchmarks:gdc
    working_dir: /src/d
    build:
      dockerfile: docker/gdc
      args:
        version: "14"
    volumes:
      - .:/src

      - ./cache/deps/d/dub-packages:/root/.dub/packages

      - ./cache/build/gdc/target:/src/d/target
      - ./cache/build/gdc/.dub:/src/d/.dub
      - ./cache/build/gdc/dub-cache:/root/.dub/cache
    environment:
      - DUB_HOME=/root/.dub
    depends_on:
      - ldc

  v_gcc:
    <<: *shared
    image: benchmarks:v_gcc
    working_dir: /src/v
    build:
      dockerfile: docker/v_gcc
      args:
        # https://github.com/vlang/v/releases
        version: "weekly.2026.05"
    volumes:
      - .:/src

      - ./cache/deps/v_gcc/modules:/root/.vmodules

      - ./cache/build/v_gcc/target:/src/v/target
      - ./cache/build/v_gcc/gcc_cache:/root/.cache/gcc
    depends_on:
      - base_gcc

  v_clang:
    <<: *shared
    image: benchmarks:v_clang
    working_dir: /src/v
    build:
      dockerfile: docker/v_clang
      args:
        # https://github.com/vlang/v/releases
        version: "weekly.2026.05"
    volumes:
      - .:/src

      - ./cache/deps/v_clang/modules:/root/.vmodules

      - ./cache/build/v_clang/target:/src/v/target
      - ./cache/build/v_clang/clang_cache:/root/.cache/clang
    depends_on:
      - base_clang

  julia:
    <<: *shared
    image: benchmarks:julia
    working_dir: /src/julia
    build:
      dockerfile: docker/julia
      args:
        # https://github.com/JuliaLang/julia/releases
        version: "1.12.4"
    volumes:
      - .:/src

      - ./cache/deps/julia/packages:/root/.julia/packages
      - ./cache/deps/julia/registries:/root/.julia/registries
      - ./cache/deps/julia/compiled:/root/.julia/compiled
      - ./cache/deps/julia/artifacts:/root/.julia/artifacts
      - ./cache/deps/julia/conda:/root/.julia/conda

      - ./cache/build/julia/target:/src/julia/target
      - ./cache/build/julia/tmp:/tmp/julia-root
      - ./cache/build/julia/packagecompiler:/root/.julia/packagecompiler
      - ./cache/build/julia/depot:/root/.julia/depot
    environment:
      - JULIA_DEPOT_PATH=/root/.julia
      - JULIA_PKG_SERVER=https://pkg.julialang.org

  nim_gcc:
    <<: *shared
    image: benchmarks:nim_gcc
    working_dir: /src/nim
    build:
      dockerfile: docker/nim_gcc
      args:
        # https://nim-lang.org
        version: "2.2.6"
    volumes:
      - .:/src

      - ./cache/deps/nim_gcc/nimble:/root/.nimble
      - ./cache/deps/nim_gcc/nimble-pkgs:/root/.nimble/pkgs

      - ./cache/build/nim_gcc/target:/src/nim/target
      - ./cache/build/nim_gcc/nimcache:/src/nim/nimcache
      - ./cache/build/nim_gcc/cache:/root/.cache/nim
      - ./cache/build/nim_gcc/gcc_cache:/root/.cache/gcc
    environment:
      - NIMBLE_DIR=/root/.nimble
      - CC=gcc
    depends_on:
      - base_gcc

  nim_clang:
    <<: *shared
    image: benchmarks:nim_clang
    working_dir: /src/nim
    build:
      dockerfile: docker/nim_clang
      args:
        # https://nim-lang.org
        version: "2.2.6"
    volumes:
      - .:/src

      - ./cache/deps/nim_clang/nimble:/root/.nimble
      - ./cache/deps/nim_clang/nimble-pkgs:/root/.nimble/pkgs

      - ./cache/build/nim_clang/target:/src/nim/target
      - ./cache/build/nim_clang/nimcache:/src/nim/nimcache
      - ./cache/build/nim_clang/cache:/root/.cache/nim

      - ./cache/build/nim_clang/clang_cache:/root/.cache/clang
    environment:
      - NIMBLE_DIR=/root/.nimble
      - CC=clang
    depends_on:
      - base_clang

  dart:
    <<: *shared
    image: benchmarks:dart
    working_dir: /src/dart
    build:
      dockerfile: docker/dart
    volumes:
      - .:/src

      - ./cache/deps/dart/pub-cache:/root/.pub-cache

      - ./cache/build/dart/target:/src/dart/target
      - ./cache/build/dart/build:/root/.dart/build
      - ./cache/build/dart/tool-cache:/root/.dart/tool-cache
      - ./cache/build/dart/analyzer:/root/.dart/analyzer
      - ./cache/build/dart/compile-cache:/root/.dart/compile-cache
      - ./cache/build/dart/kernel:/root/.dart/kernel-cache
    environment:
      - PUB_CACHE=/root/.pub-cache
    depends_on:
      - base

  pypy:
    <<: *shared
    image: benchmarks:pypy
    working_dir: /src/python
    build:
      dockerfile: docker/pypy
    volumes:
      - .:/src
      - ./cache/build/pypy/pycache:/src/python/__pycache__
    depends_on:
      - base

  odin:
    <<: *shared
    image: benchmarks:odin
    working_dir: /src/odin
    build:
      dockerfile: docker/odin
      args:
        # https://github.com/odin-lang/Odin/releases
        version: "2026-02"
    volumes:
      - .:/src
      
      - ./cache/build/odin/target:/src/odin/target
    environment:
      - ODIN_ROOT=/opt/odin
      - ODIN_PATH=/opt/odin
    depends_on:
      - base

  scala:
    <<: *shared
    image: benchmarks:scala
    working_dir: /src/scala
    build:
      dockerfile: docker/scala
      args:
        # https://www.scala-lang.org/download/
        version: "3.8.1"
        # https://github.com/sbt/sbt/releases
        sbtversion: "1.12.2"
    volumes:
      - .:/src

      - ./cache/deps/scala/coursier:/root/.cache/coursier
      - ./cache/deps/scala/ivy2:/root/.ivy2
      - ./cache/deps/scala/sbt:/root/.sbt
      - ./cache/deps/scala/m2:/root/.m2

      - ./cache/build/scala/target:/src/scala/target
      - ./cache/build/scala/project-target:/src/scala/project/target
    depends_on:
      - java

  scala-graalvm:
    <<: *shared
    image: benchmarks:scala-graalvm
    working_dir: /src/scala
    build:
      dockerfile: docker/scala-graalvm
      args:
        # https://www.scala-lang.org/download/
        version: "3.8.1"
        # https://github.com/sbt/sbt/releases
        sbtversion: "1.12.2"
    volumes:
      - .:/src

      - ./cache/deps/scala-graalvm/coursier:/root/.cache/coursier
      - ./cache/deps/scala-graalvm/ivy2:/root/.ivy2
      - ./cache/deps/scala-graalvm/sbt:/root/.sbt
      - ./cache/deps/scala-graalvm/m2:/root/.m2

      - ./cache/build/scala-graalvm/target:/src/scala/target
      - ./cache/build/scala-graalvm/project-target:/src/scala/project/target
    depends_on:
      - graalvm
